experiment4/weatherapp/src/main/webapp/WEB-INF/web-app_4_0.xsd

<?xml version="1.0"?>
 <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="weather">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="city" type="xsd:string"/>
      <xsd:element name="temperature" type="xsd:integer"/>
      <xsd:element name="humidity" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:element>

</xsd:schema>
 